<div class="row">
    <div class="container">
        
        
        
        
    </div>
</div>
<style>
    
.box1{
    width: 40%;
    height: 100px;
    
    float: left;
    margin: 10px;
    
}
.box2{
    width: 40%;
    height: 100%;
    
    float: left;
    margin:10px ;
}


</style>

<div class="row">
    <div class="container">
        <div class="box1">
            <img src="/product-images/{{product._id}}.jpg" alt="">
        </div>
        <div class="box2">
            <h2>Product{{product.Product}}</h2>
        <h4>Category :{{product.Category}}</h4>
        <h4>Price  ₹{{product.Price}}</h4>
        <h5>{{product.details}}</h5>
        </div>
    </div>
</div>